<header>
  <div class="brand">
      <%= link_to products_path do %>
        <h1 class="textHeader"><%= t('app_name') %> </h1>
      <% end %>
  </div>
  <div class="settings">
      <%= link_to categories_path do %>
        <h3 class="textHeader"><%= t('.category') %> </h3>
      <% end %>

      <!-- Dropdown for language selection -->
      <div class="dropdown">
        <button class="dropbtn">Idioma</button>
        <div class="dropdown-content">
          <%= link_to 'Inglés: 🇬🇧', url_for(locale: 'en'), class: 'language-link' %>
          <%= link_to 'Español: 🇪🇸', url_for(locale: 'es'), class: 'language-link' %>
          <%= link_to 'Croata: 🇭🇷', url_for(locale: 'hr'), class: 'language-link' %>
        </div>
      </div>
  </div>
</header>

