<%= turbo_frame_tag 'home' do %>

  <h2><%= t('.title') %> </h2>
  <%= link_to new_product_path,  'data-turbo-frame': '_top' do %>
    <h3><%= t('.sub-title') %> </h3>
  <% end if Current.user %>

  <%= form_with url: products_path, class: 'filterForm', method: :get do |form| %>
    <div>
      <%= form.text_field :query_text, placeholder: t('.query_text'), onChange: 'this.form.requestSubmit()',value: params[:query_text] %>
    </div>
    <%= form.number_field :min_price, placeholder: t('.min_price'), onChange: 'this.form.requestSubmit()',value: params[:min_price] %>
    <%= form.number_field :max_price, placeholder: t('.max_price'), onChange: 'this.form.requestSubmit()',value: params[:max_price] %>
    <%= form.select :order_by, options_for_select([[t('.newest'),"newest"],[t('.cheapest'),"cheapest"],[t('.expensivest'),"expensivest"]], params[:order_by]) ,
                    {},
                    {onChange: 'this.form.requestSubmit()'}
    %>
  <% end %>

  <%= link_to t('.all'), products_path  %>
  <%= render partial: 'category', collection: @categories %>
  <%= turbo_frame_tag "products-#{@pagy.page}" do %>
    <%= render partial: 'product', collection: @products %>
    <%= turbo_frame_tag "products-#{@pagy.next}", src: pagy_url_for(@pagy,@pagy.next), loading: :lazy if @pagy.next%>
  <% end %>
<% end %>