<h2 class="product-title"><%= t('.title') %> <%= @product.title %></h2>
<div class="product-container">
  <div class="product-image-container">
    <!-- Aquí puedes poner la imagen del producto -->
    <%= image_tag(@product.photo, alt: @product.title, class: "product-image") if @product.photo.present? %>
  </div>
  <div class="product-description"><%= @product.description %></div>
  <div class="product-price">ARS$ <%= @product.price %></div>
  <%= link_to edit_product_path(@product.id), class: "back-link" do %>
    <h3>Editar</h3>
  <% end if @product.user_id == Current.user.id%>

  <%= link_to t('.delete'),
              product_path(@product),
              data: { turbo_confirm: t('common.confirm'),
                      turbo_method: :delete },
                class: "delete-link" if @product.user_id == Current.user.id %>

</div>
<%= link_to products_path, class: "back-link" do %>
  <h3>Volver</h3>
<% end %>
