<h2 class="product-title"><%= t('.title') %> <%= @product.title %></h2>
<div class="product-container">
  <div class="product-image-container">
    <!-- Aquí puedes poner la imagen del producto -->
    <%= image_tag(@product.photo, alt: @product.title, class: "product-image") if @product.photo.present? %>
  </div>
  <div class="product-description"><%= @product.description %></div>
  <div class="product-price">ARS$ <%= @product.price %></div>
  <%= link_to '❤️',
              favorites_path(product_id: @product.id),
              data: { turbo_method: :post },
              class: "like-link"  %>
<%= link_to t('common.view_more_products',username:@product.user.username ), user_path(@product.user.username) %>

  <%= link_to t('.edit'), edit_product_path(@product.id), class: "back-link" if @product.owner? %>


  <%= link_to t('.delete'),
              product_path(@product),
              data: { turbo_confirm: t('common.confirm'),
                      turbo_method: :delete },
                class: "delete-link" if @product.owner? %>

</div>
<%= link_to products_path, class: "back-link" do %>
  <h3><% t('common.back')%></h3>
<% end %>


